@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

.Navbar {
  width: 90%;
  max-width: 1200px;
  height: clamp(70px, 8vw, 90px);
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  font-family: "Montserrat", sans-serif;
  z-index: 1000;
}
.Navbar-in {
  height: 100%;
  max-width: 1000px;
  border-radius: 80px;
  padding: 0 3%;
  margin: auto;
  background: var(--primary-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.Navbar-in::before {
  content: "";
  position: absolute;

  background: rgba(255, 255, 255, 0.12);
}

/* Logo */
.Logo img {
  width: clamp(85px, 10vw, 120px);
  height: auto;
}

/* Navigation */
.Nav-links ul {
  display: flex;
  align-items: center;
  gap: clamp(15px, 3vw, 35px);

  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav-links ul li a {
  position: relative;

  color: #000;
  text-decoration: none;

  font-size: clamp(14px, 1.3vw, 16px);
  font-weight: 600;

  padding-bottom: 8px;

  transition: color 0.3s ease;
}

/* Underline animation */
.Nav-links ul li a::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 0;

  width: 0;
  height: 3px;

  background: var(--primary-color);
  border-radius: 10px;

  transform: translateX(-50%);
  transition: width 0.3s ease;
}

/* Hover */
.Nav-links ul li a:hover {
  color: var(--primary-color);
}

.Nav-links ul li a:hover::after {
  width: 100%;
}

/* Selected / Active link */
.Nav-links ul li a.active {
  color: white;
}

.Nav-links ul li a.active::after {
  width: 100%;
}

.Nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 1100;
}

/* Rent Button */
.Nav-btn a {
  padding: clamp(10px, 2vw, 12px) clamp(18px, 3vw, 25px);

  font-size: clamp(14px, 1.2vw, 15px);

  background: var(--primary-color);
  color: white;

  border-radius: 30px;

  text-decoration: none;
  font-weight: 700;

  transition: all 0.3s ease;
}

.Nav-btn a:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.Hamburger {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  background: white;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5px;

  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.Hamburger:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
}

.Hamburger span {
  width: 22px;
  height: 3px;

  background: var(--primary-color);

  border-radius: 20px;

  transition: 0.3s;
}

.Hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.Hamburger.active span:nth-child(2) {
  opacity: 0;
}

.Hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 992px) {
  .Navbar {
    width: 95%;
  }

  .Nav-links ul {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .Hamburger {
    display: flex;
  }

  .Nav-btn {
    display: block;
  }

  .Nav-btn a {
    padding: 10px 18px;
    font-size: 14px;
  }
  .Nav-links {
    position: absolute;

    top: 85px;
    left: 0;
    right: 0;

    margin: auto;

    background: white;

    border-radius: 25px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);

    padding: 25px;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-20px);

  }

  .Nav-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background: var(--primary-light);
    border-radius: 50px;
    margin: auto;
  }

  .Nav-links ul {
    flex-direction: column;
    gap: 25px;
  }

  .Mobile-btn {
    width: 100%;
  }

  .Mobile-btn a {
    display: block;
    text-align: center;
    background: var(--primary-color);
    color: white;
    padding: 12px;
    border-radius: 30px;
  }
}
